%aside.right-sidebar.right-sidebar-expanded.wiki-sidebar.js-wiki-sidebar.js-right-sidebar{ data: { "offset-top" => "101", "spy" => "affix" } }
  .block.wiki-sidebar-header.append-bottom-default
    %a.gutter-toggle.pull-right.visible-xs-block.visible-sm-block.js-sidebar-wiki-toggle{ href: "#" }
      = icon('angle-double-right')

    - git_access_url = namespace_project_wikis_git_access_path(@project.namespace, @project)
    = link_to git_access_url, class: active_nav_link?(path: 'wikis#git_access') ? 'active' : '' do
      = succeed '&nbsp;' do
        = icon('cloud-download')
      Clone repository

  .blocks-container
    .block.block-first
      %ul.wiki-pages
        - @sidebar_wiki_pages.each do |wiki_page|
          %li{ class: params[:id] == wiki_page.slug ? 'active' : '' }
            = link_to namespace_project_wiki_path(@project.namespace, @project, wiki_page) do
              = wiki_page.title.capitalize
    .block
      = link_to namespace_project_wikis_pages_path(@project.namespace, @project), class: 'btn btn-block' do
        More Pages

= render 'projects/wikis/new'
